<h1>Editing table user</h1>

<%= render "form", table_user: @table_user %>

<br>

<div>
  <%= link_to "Show this table user", @table_user %> |
  <%= link_to "Back to table users", table_users_path %>
</div>
