<h2>My Tables</h2>
  <% if current_user.tables.empty? %>
    <p> No Tables Yet! </p>
  <% else %>
    <ul>
      <% current_user.tables.each do |table| %>
        <li>
          <%= link_to "Table ##{table.code}", table_path(table) %> | <%= link_to 'Leave Table', table_user_path(table.table_users.find_by(user_id: current_user.id)), data: { turbo_method: :delete } %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <h2>Open Tables:</h2>
  <% if tables.present? %>
    <ul>
      <% tables.each do |table| %>
        <li>
          <%= link_to("Table ##{table.code}", table_path(table)) %> | <%= link_to('Join Table', table_users_path(table_user: { user_id: current_user.id, table_id: table.id }), data: { turbo_method: :post }) %>
        </li>
      <% end %>
  <% else %>
    <p> No Open Tables! </p>
  <% end %>


