<div id="<%= dom_id table %>">
  <p>
    <strong>Table number:</strong>
    <%= table.table_number %>
  </p>

  <p>
    <strong>Tournament:</strong>
    <%= table.tournament_id %>
  </p>

  <p>
    <strong>Round:</strong>
    <%= table.round_id %>
  </p>

</div>
